body {
  font-family: "Inclusive Sans", Arial, sans-serif;
  margin: 0;
  padding: 2em;
}

h1 {
    font-weight: 500;
    margin: 0 0 1.5em;
}

.button-container {
  display: inline-flex;
  flex-direction: column;
  gap: 1em;
  font-weight: 500;
}

mk-button {
  --mk-button-background: #50587f;
  --mk-button-color: #fff;
  --mk-button-padding: 0.75em 2em;
  --mk-button-border-radius: 0.5em;
  --mk-button-hover-background: #384068;
  --mk-button-focus-outline: 3px solid #50587f66;
  --mk-button-disabled-background: #ccc;
  --mk-button-disabled-color: #888;
}

.styled-button {
  --mk-button-background: #b24151;
  --mk-button-hover-background: #872c38;
  --mk-button-focus-outline: 3px solid #b2415166;
}
